.projects {
  .projects-list {
    margin: 100px 0px;
    @include dFlex(space-between, stretch);
    // display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

    .card {
      @extend .card-base;
      width: 373px;
      height: 567px;

      .image-wrapper {
        height: 260px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        background-image: url("../images/project-1.png");
        background-position: center;
        background-size: cover;
      }

      .text-content {
        padding: 27px 30px 25px;
      }
    }
  }
}
